@import "./login.scss";
@import "./home.scss";
@import './system.scss';
$darkbg:#001529;
$lightbg:#fff;
$fontColor:#fafafa;
@mixin dark {
    background-color: $darkbg;
    color: $fontColor;
}
@mixin light {
    background-color: $lightbg;
    color:$darkbg;
}
.logo{
    display: inline-flex;
    height: 64px;
    font-size: 18px;
    font-weight: 600;
    text-align: end;
    line-height: 64px;
}
.toolbal{
    .icon{
        font-size: 1.2rem;
    }   
}
.list{
    width: 30rem;
}
.breadcrumbIcon{
    margin: 0 0.5rem;
}
.rounded .ant-card{
    border-radius: 1rem;
}
.dark{
    @include dark()
}
.light{
   @include light()
}
.breadcrumb{
    background-color: #e2e2e2;
    color:$darkbg;
    border-radius: 14px;
    width:30rem;
    height: 2rem;
    
}
