@import "./login.scss";
@import "./home.scss";
.breadcrumb{
    background-color: #fff;
    color: black;
    border-radius: 14px;
    width:30rem;
    height: 2rem;
}
$fontColor:#fafafa;
.logo{
    display: inline-flex;
    height: 64px;
    color: $fontColor;
    font-size: 18px;
    font-weight: 600;
    text-align: end;
    line-height: 64px;
}
.toolbal{
    color:$fontColor;
    .icon{
        font-size: 1.2rem;
        color:$fontColor ;
    }
       
}
.list{
    width: 30rem;
}
.breadcrumbIcon{
    margin: 0 0.5rem;
}
